<template name="addGuestForm">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="">
        <div class="form-group">
          <label for="member-form-name"><span>用户名</span></label>
          <input type="text" class="form-control" name="name" placeholder="Bob Jane">
        </div>
        <div class="form-group">
          <label for="member-form-email"><span>邮箱地址</span></label>
          <input type="email" class="form-control" name="email" placeholder="bob.jane@example.com">
        </div>
        <button type="submit" class="btn btn-primary">
          <span>创建用户</span>
        </button>
      </form>
    </div>
  </div>
</template>
